@import './synthwave-fonts.css';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; /* Add this */
    min-height: 100%; /* Add this */
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: var(--font-synthwave-text);
}

*, *:before, *:after {
    box-sizing: inherit;
}